allowUpload yes/no
allowDownload yes/no
allowOverwrite yes/no
allowDelete yes/no

whiteList yes/no

#default data directory is /home/user/data
#space in directory path is not allowed
raid0 yes/no
raidpath /path/to/dir

mysqlUsername username
mysqlPassword password

ListenPort 50080