allowUpload yes
allowDownload yes
allowOverwrite yes
allowDelete yes

whiteList no

#default data directory is /home/user/data
#space in directory path is not allowed
pseudoraid1 no
raidpath /path/to/dir

mysqlUsername fileserver
mysqlPassword fileserver

ListenPort 50080

#default log directory is /var/log/fileserver/fileserver.log
logfile /var/log/fileserver/fileserver.log

#default log level is error. 
loglevel error